@model KendoUIMVCTest.Models.DemoModel

@{
    ViewBag.Title = "Kendo UI MVC HTML Form Two Columns";
}

<h2>HTML Form - Two Columns</h2>

@using (UI.Form("frmSample", "Index", "HtmlForm")
    .SetDefaultGroupColumnStyle("col-md-6")  // Set the column groups to be 6 of the 12 columns
    //.SetFormColumnStyle("col-md-12")
    // .AddFooterActionButton(UI.SubmitButton("btnSave", "Save"))
    .RenderBegin())
{   
    @UI.DatePickerFor(model => model.BirthDate)
    @UI.TextBoxFor(model => model.Id)
    @UI.TextBoxFor(model => model.FavoriteDay)    
    @UI.CheckboxFor(model => model.Agree).SetShowLabelRight(true)
    @UI.CheckboxFor(model => model.LikeThis)
}